<h1>All Shelters</h1>
  <% @shelters.each do |shelter| %>
    <div>
      <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %>
      <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", id: "update-shelter-#{shelter.id}" %>
      <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", id: "delete-shelter-#{shelter.id}", method: :delete %>
    </div>
  <% end %>
<a href="/shelters/new">New Shelter</a>
