<h1>New Shelter</h1>
<form class="" action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Name: </label>
  <input type="text" name="shelter[name]" id="name" value=""><br>
  <label for="address">Address: </label>
  <input type="text" name="shelter[address]" id="address" value=""><br>
  <label for="city">City: </label>
  <input type="text" name="shelter[city]" id="city" value=""><br>
  <label for="state">Sate: </label>
  <input type="text" name="shelter[state]" id="state" value=""><br>
  <label for="zip">Zip: </label>
  <input type="text" name="shelter[zip]" id="zip" value=""><br>
  <button type="submit" id="Create New Shelter">Create New Shelter</button>
</form>
