<h1>All Pets</h1>
<% @pets.each do |pet| %>
  <img src="<%= pet.image_path %>" alt="pet.image_path">
  <ul style="list-style-type:none;">
    Name: <li>pet.name</li>
    Approximate age: <li>pet.approximate_age</li>
    Sex: <li>pet.sex</li>
    Shelter: <li>pet.shelter</li>
  </ul>
